.profile-user {
  flex-direction: row;
  align-items: start;
  background-color: #1F2A48;
  margin-top: 10px;
  gap: 3rem;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);

}

.profile-user figure {}

.profile-user img {
  width: 250px;
  height: 250px;

  border-radius: 50%;

}

.name-user {
  font-size: 1.3rem;
  color: white;
}



.user {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  gap: 1.2rem;

}

.my-favorites {
  background-color: transparent;
  padding: 0;
}

.my-favorites button {
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.my-favorites img {
  width: 40px;
  height: 40px;
  border-radius: 0;

}

.my-favorites .heart {
  animation: jump .5s;
  animation-iteration-count: infinite;


}

.my-favorites .heart-red {
  animation: scale .6s;
  animation-iteration-count: 2;

}

.user p {
  font-size: 1.2rem;
  text-align: justify;
  color: #98a5c7;

}

.date-profile {
  width: 100%;
  background-color: #141C2F;
  border-radius: 15px;
}

.date-profile th,
.date-profile td {
  font-size: 1.4rem;

}

.contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 1rem;
}

.contacts a {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 40%;
  font-size: 1.2rem;

  margin: 0;
}

.contacts img {
  margin-right: 20px;
  border-radius: 0;
  width: 20px;
  height: 20px;

}

.star-delete {
  background: transparent;
  border: none;
  cursor: pointer;

  animation: jump .5s;
  animation-iteration-count: infinite;
}

@keyframes jump {
  0% {
    margin-top: 0;
  }

  25% {
    margin-top: 7px;
  }

  50% {
    margin-top: 0;
  }

  75% {
    margin-top: -7px;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes scale {
  from {
    transition: transform 1s;
    transform: translateX(0) scale(0);
  }

  to {
    transform: translateX(10px) scale(40px);
  }
}