.view-search, .view-favorites {
  margin-top: 1rem;
  /* background-color: #1F2A48; */
  /* background-color: #1F2A48; */
  width: 100%;
  
}

table {
  width: 900px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  
}

thead{
  border-radius: 10px;

}

thead th{
  padding: 1rem;
  background-color: #1F2A48;

}

th {
  background-color: #1F2A48;
  /* border: 1px solid black; */
  width: 100%;
  font-size: 1.5rem;
  color: #98a5c7;
  padding: 0 1rem;
  
}

td {
  color: #98a5c7;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2rem;
  font-weight: 700;
  
}

tbody {
  border: none;
  margin: 0 1rem;
}

tbody tr{
  border-radius: 50%;
  /* background-color: red; */
  
}

tr:nth-last-child(2n){
  background-color: green;

}

.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;

}

.user a {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;

}

.user span {
  font-size: 1.2rem;
  color: #3195ff;
  padding-top: 1rem;

}

.user img {
  width: 100px;
  height: 100px;
  opacity: 1;
  border-radius: 50%;
}