.view-search, .view-favorites {
  margin-top: 1rem;
  width: 100%;
  
}

table {
  width: 900px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  
}

thead{
  border-radius: 10px;

}

thead th{
  padding: 1rem;
  background-color: #1F2A48;

}

th {
  font-size: 1.5rem;
  color: #98a5c7;
  
}

td {
  color: #98a5c7;
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  font-weight: 700;
  
}

tbody {
  border: none;
  margin: 0 1rem;
}

tbody tr{
  border-radius: 50%;
}

tr:nth-last-child(2n){
  background-color: #1F2A48;
}

.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;

}

.user a {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;

}

.user a p{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.user span {
  font-size: 1.5rem;
  color: #3195ff;

}

.user img {
  width: 100px;
  height: 100px;
  opacity: 1;
  border-radius: 50%;
}